
@{
    ViewData["Title"] = "Product Type";
}

<h1>Product Type</h1>


<div class="container">
    <div id="divTabla">
    </div>
</div>

<script src="~/js/generic.js"></script>
<script src="~/js/producttype.js"></script>